#header{
  margin-top:-64px;
  max-height:90px;
  padding-left:10px;
  position:fixed;
  background-color:white;
  width:100%;
}
#headerLogo{
  height:10vw;
  max-height:70px;
  margin-top:10px;
  margin-bottom:0;
}
#routerContent{
  margin-top:64px;
}
#footer{
  background-color:#04B2B2;
  color:white;
  text-align:center;
  padding: 2em 0;
  font-size:20px;
}
#devDiv{
  font-size:15px;
  margin-top:1.5em;
}
#footer a{
  color:white;
}